html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.title {
  color: #282828;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.title span {
  color: #ff6d6d;
}

.subtitle {
  color: #ff6d6d;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

[class*="*description"] {
  font-family: "Exo", sans-serif;
}

.background_rectangle {
  background: #ff8a8a;
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 1300px;
  z-index: 1;
  opacity: 1;
}

.spacing-1 {
  gap: 1rem !important;
}

.spacing-2 {
  gap: 2rem !important;
}

.spacing-3 {
  gap: 3rem !important;
}

.spacing-4 {
  gap: 4rem !important;
}

.spacing-5 {
  gap: 5rem !important;
}

.header {
  height: 95vh;
  background-image: url(../images/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__wrapper {
  width: 30vw;
  height: 200px;
  align-items: center;
  gap: 2rem;
}
.header__wrapper h1 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
  text-align: center;
  color: #282828;
  line-height: 3rem;
}
.header__wrapper img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__wrapper img:hover {
  transform: scale(1.2);
}
.header__wrapper button {
  outline: none !important;
  border: none !important;
  width: 300px;
  border-radius: 3px;
  background: #ff6d6d;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__wrapper button:hover {
  background-color: #282828;
  color: #ff6d6d;
}

.banner {
  z-index: 2;
  background: #fff;
}
.banner-left {
  padding: 7rem;
}
.banner-left__wrapper {
  gap: 1rem;
}
.banner-left__wrapper .description {
  margin-top: 1rem;
  gap: 1.5rem;
}
.banner-left__wrapper .description p {
  color: #717171;
}
.banner-right img {
  object-fit: contain;
}

.features {
  padding: 3rem;
  background-image: url(../images/sample-bg.png);
  z-index: -1;
  min-height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.features > .container {
  min-height: 670px;
}
.features-about__column-title {
  font-weight: bold;
}
.features-about__column-description {
  text-align: center;
}

.response {
  min-height: 550px;
  background: white;
  position: relative;
  overflow: hidden;
}
.response > .container {
  min-height: 550px;
}
.response .background_rectangle {
  top: 10%;
  left: -60%;
  height: 1300px;
  width: 1300px;
  transform: rotate(45deg);
}
.response-left {
  z-index: 2;
}
.response-left__img {
  width: 400px;
  height: 400px;
  position: relative;
  display: inline-block;
  margin: 0;
}
.response-left__img img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}
.response-right {
  z-index: 2;
}
.response-right__wrapper-description {
  text-align: left;
}

.client {
  min-height: 650px;
  background-image: url(../images/bg-client.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.client > .container {
  min-height: 650px;
}
.client-item > * {
  color: white;
}
.client-item-name {
  font-size: 1.3rem;
}
.client-item-posision {
  font-size: 1rem;
  color: #ff8a8a !important;
}

.browser {
  min-height: 750px;
  padding-top: 7vh;
}
.browser > .container {
  min-height: 750px;
}
.browser-title {
  max-width: 50vw;
}
.browser-title > * {
  text-align: center;
}

.footer {
  min-height: 330px;
  position: relative;
}
.footer > .container {
  min-height: 330px;
}
.footer-label {
  font-weight: 400;
  font-size: 1.4rem;
  height: 65px;
  display: flex;
  align-items: center;
}
.footer-info {
  color: #717171;
  line-height: 20px;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-menu ul li {
  cursor: pointer !important;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #717171;
  cursor: pointer !important;
}
.footer-form input.form-control {
  text-indent: 30px;
}
.footer-form .input-group-text {
  background: #ff8a8a;
  padding: 0;
  margin: 0;
  border: none;
  transition: all 0.3s ease-in-out;
}
.footer-form .input-group-text:hover {
  background: #282828;
}
.footer-form .input-group-text button {
  padding: 5px 10px;
  outline: none !important;
  border: none !important;
  border-radius: 2px !important;
  background: none;
}

/*# sourceMappingURL=main.css.map */
