html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.title {
  color: #282828;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.title span {
  color: #ff6d6d;
}

.subtitle {
  color: #ff6d6d;
  text-transform: uppercase;
}

.spacing-1 {
  gap: 1rem !important;
}

.spacing-2 {
  gap: 2rem !important;
}

.spacing-3 {
  gap: 3rem !important;
}

.spacing-4 {
  gap: 4rem !important;
}

.spacing-5 {
  gap: 5rem !important;
}

.header {
  height: 95vh;
  background-image: url(../images/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__wrapper {
  width: 30vw;
  height: 200px;
  align-items: center;
  gap: 2rem;
}
.header__wrapper h1 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
  text-align: center;
  color: #282828;
  line-height: 3rem;
}
.header__wrapper img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__wrapper img:hover {
  transform: scale(1.2);
}
.header__wrapper button {
  outline: none !important;
  border: none !important;
  width: 300px;
  border-radius: 3px;
  background: #ff6d6d;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__wrapper button:hover {
  background-color: #282828;
  color: #ff6d6d;
}

.banner {
  z-index: 2;
  background: #fff;
}
.banner-left {
  padding: 7rem;
}
.banner-left__wrapper {
  gap: 1rem;
}
.banner-left__wrapper .description {
  margin-top: 1rem;
  gap: 1.5rem;
}
.banner-left__wrapper .description p {
  color: #717171;
}
.banner-right img {
  object-fit: contain;
}

.features {
  padding: 3rem;
  background-image: url(../images/sample-bg.png);
  z-index: -1;
  min-height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.features > .container {
  min-height: 670px;
}
.features-about__column-title {
  font-weight: bold;
}
.features-about__column-description {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
