$primary-color: #282828
$secondary-color: #ff6d6d

body
    font-family: 'Lato', sans-serif

button
    outline: none
    background: none
    border: none

.d-flex
    display: flex
    align-items: stretch

.title
    color: $primary-color

.subtitle
    color: $secondary-color
