

body
    font-family: 'Lato', sans-serif

button
    outline: none
    background: none
    border: none

.d-flex
    display: flex
    align-items: stretch

.title
    color: $primary-color
    font-size: 3rem
    font-weight: 400
    letter-spacing: 3px
    span
        color: $secondary-color

.subtitle
    color: $secondary-color
