*
    box-sizing: border-box

body
    font-family: sans-serif

.container
    width: calc(100% - 10rem)
    margin: 0 auto

// div[class^="col-"]

.row
    display: flex
    flex-wrap: wrap

$columns: 12
$xl-width: 1200px
$lg-width: 992px
$md-width: 768px
$sm-width: 576px

@for $i from 1 through $columns
    .col-#{$i}
        flex: 0 0 calc(100% / $columns * $i)
    .col-xl-#{$i}
        flex: 0 0 calc($xl-width / $columns * $i)
    .col-lg-#{$i}
        flex: 0 0 calc($lg-width / $columns * $i)
    .col-md-#{$i}
        flex: 0 0 calc($md-width / $columns * $i)
    .col-sm-#{$i}
        flex: 0 0 calc($sm-width / $columns * $i)
