.header
    height: 95vh
    background-image: url(../images/bg-header.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &__wrapper
        width: 30vw
        height: 200px
        align-items: center
        gap: 2rem
        h1
            font-size: 3rem
            font-weight: 200
            letter-spacing: 0.4rem
            text-align: center
            color: $primary-color
            line-height: 3rem
        img
            width: 60px
            height: 60px
            cursor: pointer
            transition: all 0.3s ease-in-out
            &:hover
                transform: scale(1.2)
        button
            width: 300px
            border-radius: 3px
            background: $secondary-color
            padding: 1rem
            font-size: 1.2rem
            text-transform: uppercase
            cursor: pointer
            transition: all 0.3s ease-in-out
            &:hover
                background-color: $primary-color
                color: $secondary-color
